<!-- <section class="back-image">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8">
        <div class="card text-white" style="border-radius: 1rem; background-color: rgba(255,255,255,.5);">
          <div class="card-body p-5 text-center"> -->

<!-- <div class="mb-md-5 mt-md-4 pb-5"> -->

<head>
  <title>Login</title>
</head>
<div style="color:white;">
  <div>
    <!-- <h1>Ultimate Country Guide</h1> -->
    <br>
    <h4 class="fw-bold mb-2 text-uppercase">Please Login or Signup
    </h4>
    <p class="text-white-50 mb-5"></p>
    <form action="/auth/login" method="POST">

      <div class="form-outline form-white mb-4">
        <input type="email" id="typeEmailX" class="form-control form-control-lg text-box" name="email" />
        <label class="form-label" for="typeEmailX">Email</label>
      </div>

      <div class=" form-outline form-white mb-4">
        <input type="password" id="typePasswordX" id="validationDefault03" name="password"
          class="form-control form-control-lg text-box" />
        <label class="form-label" for="typePasswordX">Password</label>
      </div>

      <!-- <p class="small mb-5 pb-lg-2"><a href="#!">Forgot
          password?</a></p> -->

      <button class="btn btn-outline-light btn-lg" type="submit">Login</button>
      <br>

    </form>
    <br>
    <br>


    <%- include('../partials/alerts') %>
  </div>

  <div>
    <p class="mb-0">Don't have an account? <a href="./signup" class=" fw-bold" style="color:white">Sign Up</a>
    </p>
  </div>
</div>
<!-- 
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->