<head>
  <title>Login</title>
</head>
<div style="color:white;">
  <div>
    <br>
    <h4 class="fw-bold mb-2 text-uppercase">Please Login or Signup
    </h4>
    <p class="text-white-50 mb-5"></p>
    <form action="/auth/login" method="POST">
      <div class="form-outline form-white mb-4">
        <input type="email" id="typeEmailX" class="form-control form-control-lg text-box" name="email" />
        <label class="form-label" for="typeEmailX">Email</label>
      </div>
      <div class=" form-outline form-white mb-4">
        <input type="password" id="typePasswordX" id="validationDefault03" name="password"
          class="form-control form-control-lg text-box" />
        <label class="form-label" for="typePasswordX">Password</label>
      </div>
      <button class="btn btn-outline-light btn-lg" type="submit">Login</button>
      <br>
    </form>
    <br>
    <br>
    <%- include('../partials/alerts') %>
  </div>
  <div>
    <p class="mb-0">Don't have an account? <a href="./signup" class=" fw-bold" style="color:white">Sign Up</a>
    </p>
  </div>
  <br>
  <br>
  <div>
    <h5 style="color:white">For Demo purpose only,
      <br>please use following credentials.
      <br> Email: demo2@gmail.com <br> Password: demo1234
    </h5>
  </div>
</div>