<head>
  <title>Signup</title>
</head>
<div style="color:white">
  <h2 class="fw-bold mb-2 text-uppercase">Create account </h2>
  <p class="text-white-50 mb-5"></p>
  <form action="/auth/signup" method="POST">

    <div class="form-outline form-white mb-4">
      <input name="name" type="text" id="form3Example1" class="form-control text-box" />
      <label class="form-label" for="form3Example1">Name</label>
    </div>

    <div class="form-outline form-white mb-4">
      <input name="email" type="email" id="form3Example3" class="form-control text-box" />
      <label class="form-label" for="form3Example3">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline form-white mb-4">
      <input name="password" type="password" id="form3Example4" class="form-control text-box"
        placeholder="At least 8 characters" />
      <label class="form-label" for="form3Example4">Password</label>
    </div>


    <button type="submit" class="btn btn-outline-light btn-lg px-5">Sign up</button>

    <br>

  </form>

  &nbsp;
  <%- include('../partials/alerts') %>
</div>