<section class="vh-100 gradient-custom">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Create account </h2>
              <p class="text-white-50 mb-5"></p>
              <form action="/auth/signup" method="POST">

                <div class="form-outline form-white mb-4">
                  <input name="name" type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">Name</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input name="email" type="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline form-white mb-4">
                  <input name="password" type="password" id="form3Example4" class="form-control"
                    placeholder="At least 8 characters" />
                  <label class="form-label" for="form3Example4">Password</label>
                </div>


                <button type="submit" class="btn btn-outline-light btn-lg px-5">Sign up</button>

                <br>

              </form>


              <%- include('../partials/alerts') %>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>