<% if (alerts.removed) { %>
<% alerts.removed.forEach(msg => { %>
<div class="alert alert-danger"><%= msg %></div>
<% }) %>
<% } %>

<% if (alerts.added) { %>
<% alerts.added.forEach(msg => { %>
<div class="alert alert-success"><%= msg %></div>
<% }) %>
<% } %>