<div style="display: grid;">
    <div>
        <h1 class="title">Uh oh.. Something Went Terribly Wrong..</h1>
    </div>
    <div>
        <img src="/image/404-error-page.webp" alt="">
    </div>
</div>