<body onload="changeQuote('quoteline')">
    <div style="display: block">
        <div>
            <h1 class="title">World Travel Guide</h1>
        </div>
        <br>
        <div id="quoteId">
            <h3 class="title" id="quoteline" name="quoteline">dd</h3>
        </div>
    </div>
</body>