<head>
    <title>World Travel Guide</title>
</head>

<body>

    <div>
        <div>
            <h1 class="title">World Travel Guide</h1>
        </div>
        <br>
        <div id="quoteId">
            <h3 class="title" id="quoteline" name="quoteline">"<%= quotes.statement %>." - <%= quotes.author %></h3>
        </div>

    </div>
    <br>
    <% if (currentUser) {%>
    <div style="display:inline-flex; justify-content:center; align-items: baseline">
        <a href="./countries/search" class="btn btn-outline-light"> Search for a Country </a>
    </div>
    <%} else { %>
    <div style="display:inline-flex; justify-content:center; align-items: baseline">
        <a href="./auth/login" class="btn btn-outline-light"> Login </a>&nbsp;&nbsp;&nbsp;
        <h5 style="color:white"> or </h5> &nbsp;&nbsp;&nbsp; <a href="./auth/signup"
            class="btn btn-outline-light">Signup</a>
        &nbsp;&nbsp;&nbsp;<h5 style="color:white"> To Begin Your Journey </h5>
    </div>
    <%} %>
</body>

<!-- onload="changeQuote('quoteline')" -->