<section class="section">
    <div class="container">
        <div class="columns is-desktop is-justify-content-center">
            <div class="column is-8-desktop">
                <div class="p-6 shadow rounded content">


                    <div class="columns is-multiline">

                        <div class="form-group column is-12">
                            <label for="country"></label>

                            <% for( let x = 0; x < userFavorite.length; x++ ) { %>
                            <% let singleFavorite = userFavorite[x] %>
                            <p> <%= singleFavorite.name %></p>

                            <% } %>



                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>