<div class="card back-image text-center" style="height: 393px;">


    <figure class="image ">

        <form method="POST" action="/countries/search">
            <div class="form-group column is-12">
                <div style="background-color: rgba(255,255,255,.5);">
                    <h2>Ultimate Country Guide</h2>
                    <p></p>
                    <h5>Select a Country from dropdown menu to start
                    </h5>
                </div>

                <div class=" input-group" style="margin-top: 100px;">


                    <select class="form-select" id="validationDefault04" id="country" name="country"
                        aria-label="Example select with button addon" style="background-color: rgba(255,255,255,.5);"
                        required>
                        <option selected disabled value="">Choose a Country</option>
                        <% for( let x = 0; x < countries.length; x++ ) { %>
                        <% country = countries[x] %>
                        <option value="<%=country.name%>"><%=country.name %></option>
                        <% } %>
                    </select>
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </figure>
</div>

</div>