<section class="section">
    <div class="container">
        <div class="columns is-desktop is-justify-content-center">
            <div class="column is-8-desktop">
                <div class="p-6 shadow rounded content">

                    <form method="POST" action="/countries/search">
                        <div class="columns is-multiline">

                            <div class="form-group column is-12">
                                <label for="country"></label>
                                <select id="country" class="input custom-select" name="country" required>
                                    <option selected disabled>Choose a Country</option>
                                    <% for( let x = 0; x < countries.length; x++ ) { %>
                                    <% country = countries[x] %>
                                    <option value="<%=country.name%>"><%=country.name %></option>
                                    <% } %>
                                </select>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>