<div class="card text-center">
    <div class="card-image">
        <figure class="image ">

            <form method="POST" action="/countries/search">
                <div class="form-group column is-12">
                    <div class="input-group">
                        <select class="form-select" id="validationDefault04" id="country" name="country"
                            aria-label="Example select with button addon" required>
                            <option selected disabled value="">Choose a Country</option>
                            <% for( let x = 0; x < countries.length; x++ ) { %>
                            <% country = countries[x] %>
                            <option value="<%=country.name%>"><%=country.name %></option>
                            <% } %>
                        </select>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </figure>
    </div>
</div>