<head>
    <title>Add Quotes</title>
</head>

<div>
    <figure class="image ">

        <form method="POST" action="/quotes/insert-quote">
            <div class="form-group column is-12">
                <div style="color: white">
                    <h2>Add Your Favorite Quotes To Show On Home</h2>
                    <p></p>
                </div>

                <div>
                    <div class=" form-outline form-white mb-4">
                        <input type="text" id="statement" name="statement" class="form-control form-control-lg text-box"
                            placeholder="Type in Quote" required />
                    </div>
                </div>
                <br>
                <div>
                    <div class=" form-outline form-white mb-4">
                        <input type="text" id="author" name="author" class="form-control form-control-lg text-box"
                            placeholder="Type in the Author" required />

                    </div>
                    <button class="btn btn-outline-light" type="submit">Add</button>
                </div>
                <br>
                <div><%- include('../partials/duplicate') %></div>
            </div>
        </form>
        <div>
            <a href="./list-of-quotes" class="btn btn-outline-light">View List of Quotes</a>
        </div>
    </figure>
</div>